<aside class="col-sm-4 sidebar sidebar-right">

  <ul class="nav text-right nav-side">
    <li ng-class="{active:window == 'emain'}"><a href="/#/employer">Posted Jobs </a></li>
    <li ng-class="{active:window == 'eremove'}"><a ng-href="/#/eRemove">Remove POst </a></li>
    <li ng-class="{active:window == 'newJob'}"><a href="/#/newjob"> Post new Job</a></li>
    <li ng-class="{active:window == 'eprofile'}"><a href="/#/eprofile">my Profile </a></li>
    <li ng-class="{active:window == 'esearch'}"><a href="/#/esearch"> Search Candidate</a></li>
  </ul>

</aside>
